#!/usr/bin/env python
PACKAGE = "scitos_2d_navigation"

from dynamic_reconfigure.parameter_generator_catkin import *

# load default values from yaml file
import yaml
import os
path = os.path.dirname(os.path.abspath(__file__))   # hack for getting the current dir

with open((path + '/../scitos_move_base_params/costmap_common_params.yaml'), 'r') as yamlFile:
    d = yaml.load(yamlFile)
    
    # get flags
    def_publish_fine_map = d['dynamic_layer']['publish_fine_map']
    #~ print "publish_fine_map: ", def_publish_fine_map
    def_publish_block_map = d['dynamic_layer']['publish_block_map']
    #~ print "publish_block_map: ", def_publish_block_map
    def_publish_input_map = d['dynamic_layer']['publish_input_map']
    #~ print "publish_input_map: ", def_publish_input_map
    def_debug_flag = d['dynamic_layer']['debug_flag']
    #~ print "debug_flag: ", def_debug_flag
    
    # get algorithm params
    def_stat_low = d['dynamic_layer']['stat_low']
    #~ print "stat_low: ", def_stat_low
    def_stat_low2 = d['dynamic_layer']['stat_low2']
    #~ print "stat_low2: ", def_stat_low2
    def_stat_high = d['dynamic_layer']['stat_high']
    #~ print "stat_high: ", def_stat_high
    def_dyn_low = d['dynamic_layer']['dyn_low']
    #~ print "dyn_low: ", def_dyn_low
    def_dyn_high = d['dynamic_layer']['dyn_high']
    #~ print "dyn_high: ", def_dyn_high

gen = ParameterGenerator()

# enable/disable whole layer
gen.add("enabled", bool_t, 0, "Whether to apply this plugin or not", True)

# which maps to update and publish
gen.add("publish_fine_map", bool_t, 0, "Update/publish fine map", def_publish_fine_map)
gen.add("publish_block_map", bool_t, 0, "Update/publish block map", def_publish_block_map)
gen.add("publish_input_map", bool_t, 0, "Update/publish raw input from obstacle_layer", def_publish_input_map)

# change algorithm values
gen.add("stat_low", double_t, 0, "Static_middle", def_stat_low, 0.0000001, 0.4999999)
gen.add("stat_low2", double_t, 0, "Static_middle", def_stat_low2, 0.5000001, 0.9999999)
gen.add("stat_high", double_t, 0, "Static_middle", def_stat_high, 0.5000001, 0.9999999)
gen.add("dyn_low", double_t, 0, "Static_middle", def_dyn_low, 0.0000001, 0.4999999)
gen.add("dyn_high", double_t, 0, "Static_middle", def_dyn_high, 0.5000001, 0.9999999)

# enable/disable debug print outs
gen.add("debug_flag", bool_t, 0, "Print debug comments", def_debug_flag)

exit(gen.generate(PACKAGE, "scitos_2d_navigation", "dynamic_layer_params"))
